<!-- your html code here -->
<div class="card mb-3 w-100 border-1">
    <!-- style="max-width: 540px;" -->
    <div class="row">

        <div class="col-md-8">

            <div class="card-body p-5">
                <h3 class="card-title">This First Heading <spam class="text-muted">will catch your eye</spam>
                </h3>
                <p class="card-text">Lorem, ipsum dolor sit amet consectetur adipisicing elit. Nobis eligendi, repellat doloremque rem explicabo impedit tempore eius veniam neque qui et debitis unde ut nesciunt numquam repudiandae architecto nam quod.</p>
            </div>
        </div>
        <div class="col-md-4 p-3 w-25">
                   <img src="https://static.vecteezy.com/system/resources/previews/004/477/337/non_2x/face-young-man-in-frame-circular-avatar-character-icon-free-vector.jpg"
                    class="img-fluid rounded-circle" alt="...">
        </div>
    </div>
</div>

