<!-- your html code here -->
<div class="card mb-3 w-100 border-1">
    <!-- style="max-width: 540px;" -->
    <div class="row">

        <div class="col-md-4 p-3 w-25">
            <img src="https://static.vecteezy.com/system/resources/previews/004/477/342/non_2x/face-young-woman-in-frame-circular-avatar-character-icon-free-vector.jpg"
                class="img-fluid rounded-circle" alt="...">
        </div>

        <div class="col-md-8">
            <div class="card-body p-5">
                <h3 class="card-title">The Second Heading <spam class="text-muted">is pretty cool too</spam>
                </h3>
                <p class="card-text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Vitae cupiditate fugiat ex quod nam aut praesentium unde ullam alias dolore, voluptatum, voluptates, id quisquam consectetur aspernatur suscipit natus quaerat fugit?</p>
            </div>
        </div>

    </div>
</div>